<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">



    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>

    <proxies>
        <!--proxy>
            <id>http-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>127.0.0.1</host>
            <port>8080</port>
        </proxy-->
    </proxies>

    <mirrors>






        <mirror>
            <id>local-nexus-mirror</id>
            <name>local nexus mirror</name>
            <url>${local-nexus.repository}/maven-public/</url>
            <!--mirrorOf>central,spring-libs-release,spring-milestone,spring-libs-snapshot,conjars.org,clojars.org,org.jboss.repository,codehaus-mule-repo,repo.jenkins-ci.org</mirrorOf-->
            <mirrorOf>external:*,!github-chshawkn-wagon-maven-plugin</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
        <server>
            <id>local-nexus-releases</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>local-nexus-snapshots</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>local-nexus-thirdparty</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>local-mvnsite</id>
            <!--username>root</username>
            <password>root</password-->
            <!--username>root</username>
            <privateKey>${user.home}/.ssh/local-mvnsite</privateKey-->
            <username>deployment</username>
            <password>deployment</password>
        </server>
    </servers>

    <activeProfiles>
        <activeProfile>infrastructure-local</activeProfile>
    </activeProfiles>

    <pluginGroups>
        <pluginGroup>org.apache.maven.plugins</pluginGroup>
        <pluginGroup>org.codehaus.mojo</pluginGroup>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>

    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
        <profile>
            <id>default-local-sonar-host-url</id>
            <activation>
                <property>
                    <name>!local-sonar.host.url</name>
                </property>
            </activation>
            <properties>
                <local-sonar.host.url>http://sonarqube.local:9000</local-sonar.host.url>
            </properties>
        </profile>
        <profile>
            <id>infrastructure-local</id>
            <properties>
                <sonar.host.url>${local-sonar.host.url}</sonar.host.url>
                <!--sonar.jdbc.url>jdbc:h2:tcp://sonarqube.local/sonar</sonar.jdbc.url>
                <sonar.jdbc.url>jdbc:postgresql://postgresql.local:5432/sonar</sonar.jdbc.url-->
            </properties>
            <repositories>
                <repository>
                    <id>local-nexus-releases</id>
                    <name>local nexus releases</name>
                    <url>${local-nexus.repository}/maven-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>local-nexus-snapshots</id>
                    <name>local nexus snapshots</name>
                    <url>${local-nexus.repository}/maven-snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>local-nexus-thirdparty</id>
                    <name>local nexus thirdparty</name>
                    <url>${local-nexus.repository}/maven-thirdparty/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>local-nexus-releases</id>
                    <name>local nexus releases</name>
                    <url>${local-nexus.repository}/maven-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>local-nexus-snapshots</id>
                    <name>local nexus snapshots</name>
                    <url>${local-nexus.repository}/maven-snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>local-nexus-thirdparty</id>
                    <name>local nexus thirdparty</name>
                    <url>${local-nexus.repository}/maven-thirdparty/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
